<header>
<h1>Causes</h1>

<p>Select which cause you would like to donate to:</p>
</header>

<div class = "flex-container">
  <div *ngFor="let t of titles">
    <button (click) = "goToPage()">
<mat-card class="example-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{t.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{t.img}}>
  <mat-card-content>
    <p>
      {{t.content}}
    </p>
  </mat-card-content>
</mat-card>
    </button>
  </div>
</div>
